@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Montserrat:wght@300;400;600;700&display=swap');


body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.navbar {
    --bs-navbar-padding-y: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.nav-bg {
    background-color: #030b27;
}

.foe-logo {
    height: 5rem;
}

.nav-link {
    color: #ffffff;

    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-nav .nav-link.active {
    color: #19db7d;
    text-decoration: underline;
}

.nav-link:hover {
    color: #19db7d;
}

.nav-item {
    margin-right: 20px;
}

.vibrant-green {
    color: #19db7d;
}

.btn.vibrant-green {
    background-color: #030b27;
}

.btn.vibrant-green:hover {
    background-color: #19db7d;
}

/*Footer*/
footer {
    background-color: #030b27;
    color: white;
    font-size: x-large;
    height: 5rem;
    /* position: absolute;
    bottom: 0; */
}

.footer-element {
    margin-top: 0.5rem;
}

.footer-icon {
    margin: 0 30px;
    font-size: xx-large;
}

.fa-facebook {
    color: #3b5998;
}

.fa-instagram {
    color: #f09433;
}

.fa-twitter {
    color: #00acee;
}

/* contact page styles here*/
.wrapper-info {

    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://res.cloudinary.com/adamboley/image/upload/v1676821307/bckg_hlgxnk.jpg) center center / cover no-repeat;
}

.info {
    color: #ffffff;
    padding: 60px 0 100px 9%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 300%;
}

.fa-envelope,
.fa-phone-volume {
    color: #fdfdfd;
    font-size: 1.8rem;
    padding-right: 10px;
}

.email {
    text-decoration: underline;
    color: #ffffff;
}

.phone,
.email,
.info-contact {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 120%;
    max-width: 450px;
}

.info-contact {
    margin-bottom: 80px;
    padding: 6px 12px;
    background-color: #ffffffc4;
    color: black;
    border-radius: 10px;
    /* height: 260px; */
}

.wrap-info {
    margin-left: 20px;
}

.google-map {
    padding-bottom: 20%;
    position: relative;
    max-width: 100vw;
    border: 3px solid #ffffff;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.maps {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 180%;
    padding: 100px 0 0 3%;
    font-weight: semi-bold;
}

.space {
    margin: 10px 0;
}

.btn {
    width: 150px;
    color: #ffffff;
    background-color: #429534;
    font-weight: bold;
    border: solid 1px #ffffff;
}

.link-1 {
    font-size: 35px;
    color: #3C5A99;
    margin-right: 20px;
}

.link-2 {
    font-size: 35px;
    color: #E4405F;
    margin: 0 20px;
}

.link-3 {
    font-size: 35px;
    color: #1DA1F2;
    margin: 0 20px;
}

.follow {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 180%;
    font-weight: 400;
}

.form-control {
    background-color: #ffffffc4;
}

/*Single NGO page*/
.single-name {
    text-align: center;
    margin-top: 1rem;
}

.single-image {
    object-fit: contain;
}

.single-description {
    font-family: "Montserrat", sans-serif;
    color: blue;
    background-color: green;
}

/* index page styles */

.index-image {
    max-height: 300px;
    max-width: 50%;
    margin: 0 auto
}


#hero {
    background-image: url(https://res.cloudinary.com/adamboley/image/upload/v1676821183/hero-image_h96gsg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40rem;
    background-size: cover;
    overflow: hidden;
}

.info-home {
    background-color: #ffffffac;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

/*Directory*/

.ngo-card {
    background-color: #c3ccc5;
    width: 18rem;
    text-align: center;
    padding: 0;
    border-radius: 0%;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card-container-top {
    margin-bottom: 4.5rem;
}

.ngo-card-name {
    font-size: x-large;
}

.index-image {
    height: 170px;
}

.ngo-card-link {
    color: #429534;
}

.directory-pag-a {
    background-color: #c3ccc5;
    border-radius: 10%;
    color: black;
}

.directory-pag-a:hover {
    background-color: #429534;
    color: black;
}

/*Responsiveness*/

@media screen and (max-width: 1200px) {
    .info-home {
        font-size: 100%;
    }
}

@media screen and (max-width: 992px) {
    .info-home {
        font-size: 80%;
    }
}

@media screen and (max-width: 850px) {

    /*Footer*/
    footer {
        font-size: large;
    }

    .footer-icon {
        font-size: large;
        margin: 0 15px;
    }

    /*Directory*/
    .ngo-card {
        width: 14rem;
        font-size: small;
    }
}

@media screen and (max-width: 765px) {
    .info-home {
        font-size: 100%;
    }
}

@media screen and (max-width: 450px) {

    /*Footer*/
    footer {
        font-size: small;
    }

    .footer-icon {
        font-size: medium;
        margin: 0 10px;
    }

    /*Directory*/
    .ngo-card {
        margin-bottom: 2rem;
        width: 18rem;
    }

    .card-container-top {
        margin-bottom: 0;
    }

    .directory-pag-a {
        font-size: x-small;
    }
}