@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Montserrat:wght@300;400;600;700&display=swap');


body {
    padding: 0;
    margin: 0;
}

.navbar {
    --bs-navbar-padding-y: 0;
    font-family: Jomolhari, sans-serif;
    letter-spacing: 3px;
}

.nav-bg {
    background-color: #030b27;
}

.foe-logo {
    height: 5rem;
}

.nav-link {
    color: #ffffff;
    
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-nav .nav-link.active {
    color: #19db7d;
    text-decoration: underline;
}

.nav-link:hover {
    color: #19db7d;
    text-decoration: underline;
}

.nav-item {
    margin-right: 20px;
}

.vibrant-green {
    color: #19db7d;
}

.btn.vibrant-green:hover {
    background-color: #19db7d;
}


/* contact page styles here*/
