{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center space">
        <div class="col-5 gy-5 mx-3">
            <p class="info-home">Have you ever found it difficult to find an NGO to contribut
            </p>
        </div>
        <div class="col-5 gy-5 mx-3">
            <img src="../static/project-img/about-thinking-img.jpg" class="img-fluid rounded" alt="">
        </div>
    </div>
</div>

{% endblock %}