{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row justify-content-center space">
        <div class="col-5 gy-5 mx-3">
            <p class="info-home">NGO Day is observed every year on February 27. N.G.O. is an acronym for non-governmental organization.
            World NGO Day is a day set aside to recognize, celebrate and honor the fundamental contributions and
            profound impact that these independent organizations have had on the world. N.G.O.s are nonprofit
            organizations and although they’re a modern phenomenon, their history spans back hundreds of years. Their
            influence continues to grow and make positive changes where needed in today’s world.
            </p>
        </div>
        <div class="col-5 gy-5 mx-3">
            <img src="../static/project-img/about-thinking-img.jpg" class="img-fluid rounded" alt="">
        </div>
    </div>
</div>

{% endblock %}