{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center space">
        <div class="col-5 gy-5 mx-3">
            <p class="info-home">
                Have you ever found it difficult to find an NGO of your liking to contribute to? Maybe you're working on
                a presentation to pitch a potential cause or NGO to your collegues and bosses at work? Or maybe you're
                just like us and find it tiring to scan the web for the perfect NGO whenever you're feeling generous?
                <br><br>
                <strong>Then look no further! We are here just for you.</strong>
            </p>
        </div>
        <div class="col-5 gy-5 mx-3">
            <img src="https://res.cloudinary.com/adamboley/image/upload/v1676822357/about-thinking-img_pldek7.jpg" class="img-fluid rounded" alt="">
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center space">
        <div class="col-5 gy-5 mx-3">
            <img src="https://res.cloudinary.com/adamboley/image/upload/v1676822350/our-service-img_htp9dz.jpg" class="img-fluid rounded" alt="">
        </div>
        <div class="col-5 gy-5 mx-3">
            <p class="info-home">
                Our goal here at Friends of Earth is to make it easier for everyone to contribute towards a better world.
                Whether you already have a cause that you are passionate about, or want to find a cause to be passionate
                about, we want to provide you with a structured overview of the options you have to make this world of
                ours a better place for all!
            </p>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-12 gy-5">
            <h1 id="team-header" class="vibrant-green">Meet the Team behind Friends of Earth</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex gap-1 text-center justify-content-around">
        <div class="card col-2">
           <div class="card-body">
                <h5 class="card-title">Adam Boley</h5>
                <p class="card-text"></p>
                <a class="card-text" target="_blank" href="https://github.com/AdamBoley">Github</a>
                <a class="card-text" target="_blank" href="https://www.linkedin.com/in/adam-boley-196420a8/">LinkedIn</a>
            </div>
        </div>
        <div class="card col-2">
            <div class="card-body">
                 <h5 class="card-title">Alexander Glemme</h5>
                 <p class="card-text"></p>
                 <a class="card-text" target="_blank" href="https://github.com/alexanderglemme">Github</a>
                 <a class="card-text" target="_blank" href="https://www.linkedin.com/in/alexander-glemme/">LinkedIn</a>
             </div>
         </div>
         <div class="card col-2">
            <div class="card-body">
                 <h5 class="card-title">Edmir Demaj</h5>
                 <p class="card-text"></p>
                 <a class="card-text" target="_blank" href="https://github.com/Edmir-Demaj">Github</a>
                 <a class="card-text" target="_blank" href="https://www.linkedin.com/in/edmir-demaj-42a501196/">LinkedIn</a>
             </div>
         </div>
         <div class="card col-2">
            <div class="card-body">
                 <h5 class="card-title">Liam Pewton</h5>
                 <p class="card-text"></p>
                 <a class="card-text" target="_blank" href="https://github.com/lpewton">Github</a>
                 <a class="card-text" target="_blank" href="https://www.linkedin.com/in/liam-pewton-54b496172/">LinkedIn</a>
             </div>
         </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex gap-1 text-center justify-content-around">
        <div class="card col-2 gy-4">
           <div class="card-body">
                <h5 class="card-title">Linus Berger</h5>
                <p class="card-text"></p>
                <a class="card-text" target="_blank" href="https://github.com/Linber93">Github</a>
                <a class="card-text" target="_blank" href="https://www.linkedin.com/in/linus-berger-81a484216/">LinkedIn</a>
            </div>
        </div>
        <div class="card col-2 gy-4">
            <div class="card-body">
                 <h5 class="card-title">Maria Jones</h5>
                 <p class="card-text"></p>
                 <a class="card-text" target="_blank" href="https://github.com/mariacjones1">Github</a>
                 <a class="card-text" target="_blank" href="https://www.linkedin.com/in/maria-jones-69727a12b/">LinkedIn</a>
             </div>
         </div>
         <div class="card col-2 gy-4">
            <div class="card-body">
                 <h5 class="card-title">Maximiliane Kaempffer</h5>
                 <p class="card-text"></p>
                 <a class="card-text" target="_blank" href="https://github.com/Maximiliane-K">Github</a>
                 <a class="card-text" target="_blank" href="https://www.linkedin.com/in/maximiliane-kaempffer/">LinkedIn</a>
             </div>
         </div>
    </div>
</div>        
{% endblock %}