{% extends 'base.html' %}

{% block title %}{{ ngo.name }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="single-name">
            <h1>{{ ngo.name }}</h1>
        </div>
        <div class="row justify-content-start mb-3 mt-3">
            <div class="col-8">
                <table class="table table-success table-striped">
                    <tr>
                        <th>NGO DESCRIPTION</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td class="text-end">
                            {% if ngo.type == 1 %}
                                Environment
                            {% elif ngo.type == 2 %}
                                Sports
                            {% elif ngo.type == 3 %}
                                Medical
                            {% elif ngo.type == 4 %}
                                Disaster Relief
                            {% elif ngo.type == 5 %}
                                Anti-corruption
                            {% elif ngo.type == 6 %}
                                Peace
                            {% elif ngo.type == 7 %}
                                Humanitarian
                            {% elif ngo.type == 8 %}
                                Technology
                            {% elif ngo.type == 9 %}
                                Education
                            {% elif ngo.type == 10 %}
                                Regulatory
                            {% elif ngo.type == 11 %}
                                Religious
                            {% elif ngo.type == 12 %}
                                Ethics
                            {% elif ngo.type == 13 %}
                                Policy
                            {% elif ngo.type == 14 %}
                                Governance
                            {% elif ngo.type == 15 %}
                                Youth
                            {% elif ngo.type == 16 %}
                                Legal
                            {% elif ngo.type == 17 %}
                                Democracy
                            {% elif ngo.type == 18 %}
                                Other
                            {% endif %}
                        </td>
                    </tr>
                        <td>Founded year</td>
                        <td class="text-end">{{ ngo.year }}</td>
                    </tr>
                    <tr>
                        <td>Founder(s)</td>
                        <td class="text-end">{{ ngo.founders }}</td>
                    </tr>
                    <tr>
                        <td>Director</td>
                        <td class="text-end">{{ ngo.director }}</td>
                    </tr>
                    <tr>
                        <td>Number of staff</td>
                        <td class="text-end">{{ ngo.staff }}</td>
                    </tr>
                    <tr>
                        <td>Region served</td>
                        <td class="text-end">
                            {% if ngo.region == 1 %}
                                Worldwide
                            {% elif ngo.region == 2 %}
                                Europe
                            {% elif ngo.region == 3 %}
                                North America
                            {% elif ngo.region == 4 %}
                                Central America
                            {% elif ngo.region == 5 %}
                                South America
                            {% elif ngo.region == 6 %}
                                Asia
                            {% elif ngo.region == 7 %}
                                Africa
                            {% elif ngo.region == 8 %}
                                Oceania
                            {% elif ngo.region == 9 %}
                                Middle East
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td class="text-end">{{ ngo.location }}</td>
                    </tr>
                    <tr>
                        <td>Headquarters</td>
                        <td class="text-end">{{ ngo.headquarters }}</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td class="text-end"><a href="{{ ngo.website }}">{{ ngo.website }}</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-4">
                {% if "placeholder" in ngo.image.url %}
                <img src="https://res.cloudinary.com/adamboley/image/upload/v1664390648/ozkmx0djgq9rf1f7rksi.jpg"
                    class="d-block w-100 card-img-top index-image single-image" alt="image of a cat"
                    aria-label="image of a cat">
                {% else %}
                <img src="{{ ngo.image.url }}" alt="an image of {{ ngo.name }}'s logo"
                    class="d-block w-100 card-img-top single-image h-75" alt="...">
                {% endif %} <div class="card-body">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>What purpose does it serve?</h2>
                <hr>
                <p>{{ ngo.purpose }}</p>
            </div>
            <div class="col-6">
                <h2>What does it do?</h2>
                <hr>
                <p class="single-description">{{ ngo.description|safe }}</p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}