{% extends 'base.html' %}

{% block title %}Directory{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-5 card-container card-container-top">
        {% for ngo in object_list %}
        <div class="card ngo-card">
            {% if "placeholder" in ngo.image.url %}
            <img src="https://res.cloudinary.com/adamboley/image/upload/v1664390648/ozkmx0djgq9rf1f7rksi.jpg"
                class="d-block w-100 card-img-top index-image" alt="image of a cat" aria-label="image of a cat">
            {% else %}
            <img src="{{ ngo.image.url }}" alt="an image of {{ ngo.name }}'s logo"
                class="d-block w-100 card-img-top index-image" alt="..." style="height: 170px;">
            {% endif %} <div class="card-body">
                <h5 class="card-title ngo-card-name">{{ngo.name}}</h5>
                <p class="card-text">purpose: {{ ngo.purpose }}</p>
                <a href="{{ ngo.website }}" class="ngo-card-link" target="_blank">{{ ngo.website }}</a>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row card-container">
        {% endif %}

        {% endfor %}
    </div>

</div>

  <ul class="pagination justify-content-center mt-5">
    {% if page_obj.has_previous %}
        <li class="page-item m-1">
            <a href="?page=1" class="page-link directory-pag-a">&laquo; first</a>
        </li>
        <li class="page-item m-1">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link directory-pag-a">previous</a>
        </li>
    {% else %}
        <li class="page-item m-1">
            <a href="#" class="page-link directory-pag-a">&laquo; first</a>
        </li>
        <li class="page-item m-1">
            <a href="#" class="page-link directory-pag-a">previous</a>
        </li>
        
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item m-1"><a href="#" class="page-link directory-pag-a">{{ i }}<span class="sr-only">(current)</span></a></li>
        {% else %}
            <li class="page-item m-1"><a class="page-link directory-pag-a" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item m-1">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link directory-pag-a">next</a>
        </li>
        <li class="page-item m-1">
            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link directory-pag-a">last &raquo;</a>
        </li>

    {% else %}
        <li class="page-item m-1">
            <a href="#" class="page-link directory-pag-a">next</a>
        </li>
        <li class="page-item m-1">
            <a href="#" class="page-link directory-pag-a">last &raquo;</a>
        </li>
        
    {% endif %}
</ul>

{% endblock %}